!test
node_modules
dist
*.pyc
*.swp
build
*.log
*.dmg
*.appx
*.ipa
*.msi
*.exe
*.dll
*.o
*.obj
*.i
*.s
*.so
*.dylib
*.a
*.lib
*.ko
*.elf
*.hex
*.bak
*.tmp
*.swp2
*.log2
*.dmg2
*.appx2
*.ipa2
*.msif2
*.exe2
*.dll2
*.o2
*.obj2
*.i2
*.s2
*.so2
*.dylib2
*.a2
*.lib2
*.ko2
*.elf2
*.hex2
*.bak2
*.tmp2
*.swp3
*.log3
*.dmg3
*.appx3
*.ipa3
*.msif3
*.exe3
*.dll3
*.o3
*.obj3
*.i3
*.s3
*.so3
*.dylib3
*.a3
*.lib3
*.ko3
*.elf3
*.hex3
*.bak3
*.tmp3
*.swp4
*.log4
*.dmg4
*.appx4
*.ipa4
*.msif4
*.exe4
*.dll4
*.o4
*.obj4
*.i4
*.s4
*.so4
*.dylib4
*.a4
*.lib4
*.ko4
*.elf4
*.hex4
*.bak4
*.tmp4
*.swp5
*.log5
*.dmg5
*.appx5
*.ipa5
*.msif5
*.exe5
*.dll5
*.o5
*.obj5
*.i5
*.s5
*.so5
*.dylib5
*.a5
*.lib5
*.ko5
*.elf5
*.hex5
*.bak5
*.tmp5
*.swp6
*node_modules/
*dist/
*build/
*node_modules/
*dist/
*build/
.DS_Store
/out
models/llama-3.2-1b-instruct-q4_k_m.gguf
